body,html
    height 100% !important
    width 100% !important

input:-webkit-autofill
    -webkit-box-shadow 0 0 0px 1000px #fff inset

.after-trigger
    font-size 12px

.before-trigger
    font-size 12px
    
.yl-form p
    display none !important

.yl-form .cube-form-item_required .cube-form-label::before
    content '' !important


.yl-point
    width 10px
    height 10px
    display inline-block
    background #ffba42
    border-radius 5px
    margin-right 5px

::-webkit-scrollbar
    width 0
    height 0

