// font-size vars
$fontsize-large-xxxx = 45px  //60pt
$fontsize-large-xxx = 36px  //48pt
$fontsize-large-xx = 30px  //40pt
$fontsize-large-x = 26px  //36pt
$fontsize-large = 22px  
$fontsize-medium-m = 18px  //30pt
$fontsize-medium = 16px   //24pt
$fontsize-small = 14px    //18pt
$fontsize-small-s = 12px  //16pt
$fontsize-small-ss = 10px //10pt

// radius-size
$radius-size-medium = 2px  //4pt
$radius-size = 45px        //60pt
